html{font-family: Arial, Helvetica, sans-serif;}

.links p{
    background: linear-gradient(180deg,#0b1116,#0f1721);
    color: #e6eef6;
    font-size: 22px;
    opacity:0.95;
    padding: 18px 20px;
    margin:0 0 12px 0;
}
.links{
    font-size: 15px;
    background: transparent;
    color: #e6eef6;
    padding-bottom: 12px;
}
.links a{
    text-decoration: none;
    color: #cfeffd;
    padding: 8px 12px;
    display:inline-block;
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
    border:1px solid red;
}

.animate-enter.animate-enter-active {
    opacity: 1;
    border:1px solid blue;
}

.example-animate-container.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

.example-animate-container.ng-enter.ng-enter-active {
    opacity:1;
}

/* now the element will fade out before it is removed from the DOM */
.example-animate-container.ng-leave {
    transition:0.5s linear all;
    opacity:1;
}
.example-animate-container.ng-leave.ng-leave-active {
    opacity:0;
}

/*.example-leave, .example-enter {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -ms-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}*/

.example-animate-container {
    position:relative;
    width:100%;
    overflow: hidden;
/*    position:relative;
    height:120px;
    background: whitesmoke;*/
}

.example-animate-container h1{
    margin: 0;
}

.example-animate-container > * {
/*    display:block;
    width:100%;
    border-left:1px solid black;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:35px;*/
}

.example-enter-setup {
    /*left:100%;*/
    opacity: 0;

}
.example-enter-setup.example-enter-start {
    /*left:0;*/
    opacity: 1;
}

.example-leave-setup { }
.example-leave-setup.example-leave-start {
    /*left:-100%;*/
    opacity: 1;
}


.zipper.ng-animate {
    transition:0.5s linear all;
}
.zipper.ng-enter {
    opacity:0;
}
.zipper.ng-enter.ng-enter-active {
    opacity:1;
}
.zipper.ng-leave {
    opacity:1;
}
.zipper.ng-leave.ng-leave-active {
    opacity:0;
}