<section class="links">
    <p >
        Sub Menu
    </p>
</section>
<!--
<p>
    Search: <input ng-model="search">
</p>
-->


<div >
        <!-- code to render the regular video block -->
        <table class="table table-bordered ">

            <tr class="channelLogo">
                <td ng-repeat="menu in menus.item.item" ng-if="menus.item.item.length > 1" class="channelLogo" >
                    <a href="default.htm#/subMenuLevel1?id={{menu.action._menu }}&module={{menu.action._module }}">
                        <div style="width:100px"><img src="{{menu.icon._url }}" >
                            </img></div>
                        {{menu._text}}</a>
                </td>
            </tr>
        </table>
</div>